div {
  align-items: center;
  display: flex;
  flex-direction: column;
}
h1 {
  font-size: 32px;
}

a,
p {
  color: grey;
  text-align: center;
}

input {
  font-size: 32px;
  margin-bottom: 20px;
  width: min(calc(100vw - 32px), 800px);
}

pre {
  line-height: 1.15;
  cursor: pointer;
}
